
  h4 {
    /* background-color: orange; */
    height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
  
  h2 {
    /* background-color: yellow; */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p{
    /* background-color: green; */
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
    #name, #section, #occupation, #price {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 0vh;
        width: 20%;
        background-color: blue;
    }

    #occupation {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 0vh;
        width: 20%;
        background-color: rgb(255, 0, 170);
    }

    #price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        height: 0vh;
        width: 40%;
        background-color: rgb(128, 118, 124);
    }